--allman false
--assetliterals visual-width
--beforemarks 
--binarygrouping 4,8
--categorymark 
--classthreshold 0
--closingparen same-line
--commas always
--conflictmarkers reject
--decimalgrouping 3,6
--elseposition same-line
--emptybraces spaced
--enumthreshold 0
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-extension
--extensionlength 0
--extensionmark "MARK: - %t + %c"
--fractiongrouping disabled
--fragment false
--funcattributes preserve
--groupedextension "MARK: %c"
--guardelse auto
--header ignore
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef indent
--importgrouping alpha
--indent 4
--indentcase false
--lifecycle 
--linebreaks lf
--markextensions always
--marktypes never
--maxwidth 120
--modifierorder 
--nevertrailing 
--nospaceoperators 
--nowrapoperators 
--octalgrouping 4,8
--operatorfunc spaced
--organizetypes actor,class,enum,struct
--patternlet hoist
--ranges spaced
--redundanttype inferred
--self insert
--selfrequired 
--semicolons inline
--shortoptionals always
--smarttabs enabled
--stripunusedargs closure-only
--structthreshold 0
--swiftversion 5.3
--tabwidth unspecified
--trailingclosures 
--trimwhitespace always
--typeattributes preserve
--typemark "MARK: - %t"
--varattributes preserve
--voidtype void
--wraparguments after-first
--wrapcollections after-first
--wrapconditions after-first
--wrapparameters after-first
--wrapreturntype preserve
--xcodeindentation disabled
--yodaswap always
--disable blankLinesAtStartOfScope,initCoderUnavailable,preferKeyPath,strongOutlets,wrapMultilineStatementBraces
--enable isEmpty,markTypes,wrapEnumCases